---
---

@import "{{ site.theme }}";

.page-header {
  color: #ffff;
  background-color: #fe9a8b;
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   color: #F9758F;
 }
}
